html {
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#scorebar {
    height: 100%;
    background: #946288;
    text-shadow: 1px 1px #946288;
    font-size: 18px;
}
#Image-Win, #Image-Opps {
    max-width: 70%;
}
#char {
    margin-top: 30px;
    margin-bottom: 40px;
}

#Image,
.crystal-image {
    max-width: 23%;
}
#Image-Garnet {
  max-width: 23%;
}

@media only screen and (max-width: 800px) {
    #Image,
    .crystal-image {
        max-width: 40%;
    }
}

.section1 {
    background: white;
    max-width: 100%;
    padding: 10px;
    margin-top: 0px;
    font-size: 1em;
}

#fixit {
    position: fixed;
    background: transparent;
    box-shadow: none;
}

h1 {
    padding-top: 90px;
    margin: 0 auto;
    font-family: 'Bungee Shade', cursive;
    color: white;
}

.steven {
    margin: 0 auto;
}

.modal {
    max-height: 900px;
    background-color: white;
}

#modal-content {
    background-color: white;
}

.crystal-image-unlock {
    padding: 5px;
    margin: 3px;
    max-width: 30%;
}